body {
    /*font-family: 'Shizuru', cursive;*/
	background-image: url(bg2.jpg);
	color: white;
	background-size: cover;
}
h1 {
	font-family:Noto Serif;
	color: #3F79E2;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	border: 2px dotted ghostwhite;
}
img {
	float: right;
    border: 5px solid red;
}
section p{
	font-family: 'Barlow', sans-serif;	
	border: 5px solid red;
	font-size: 20px;
	line-height: 50px;
	font-weight: bolder;
	text-decoration: unset;
	text-transform: capitalize;
	padding: 10px  ;
}
h1:hover {
	color: ghostwhite;
	font-size: 70px;
} 
li {
    list-style: lower-roman;
}
h2{
	color: rgba(0, 227, 0,0.5);
}
a {
	text-decoration: none;
	color: #DF2E92;
}
.box {
	border: 4px solid blue;
	display: inline-block;
	padding: 10px;
	margin: 10px;
	width: 70px;
	height: 30px;
	text-align: center;
	font-size: 23px;
	font-family: 'Barlow', sans-serif;
	cursor: pointer;
}
.box:hover {
	border: 4px solid green;
	display: inline-block;
	padding: 10px;
	margin: 10px;
	width: 70px;
	height: 30px;
	text-align: center;
	font-size: 23px;
	font-family: 'Shizuru', cursive;
	cursor: pointer;
	background-color: blue;
	color: red;
}

.flexbox img {
	width: 350px;
	height: 200px;
	margin: 10px;
	border: none;
	transition: transform 1s 0s;
	justify-content: center;
	/*transform-origin: left top;*/
}
.flexbox img:hover {
	transform: rotate(720deg) scale(1.5);
	/*transform-origin: left top;*/
}
.flexbox {
	display: flex;
	flex-wrap: wrap;

}